:root{
  --nav-background:rgb(33,30,66);
  --main-color:rgb(68,64,111);
  --text:rgb(255, 255, 255);
}
*{
  box-sizing: border-box;
}
html{
  line-height: 1.15;
  font-family: sans-serif;
  background:var(--main-color);
  
}
body{
  margin: 0;
}
header{
  background: var(--nav-background);
}
.navigation{
  display: flex;
  margin-left: 20%;
}
.navigation a{
 
 padding: 15px 30px;
 text-decoration: none;
 color: var(--text);
}
.navigation a:hover{
     color: #6f42c1;
}
.navigation a:last-child{
  margin-left: 20%;
  background: var(--text);
  margin-top: 10px;
  color: var(--nav-background);
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 5px;
  border: none;
  border-radius: 10px;
}
.navigation img{
  position: relative;
  top: 11px;
  right: 300px;
}
.navigation img:hover{
  cursor: pointer;
}
.head p{
  text-align: center;
  color: var(--text);
  font-size: 1.8rem;
  padding: 50px;
  font-family: 'Montserrat', sans-serif;
}
.search input{
  position: absolute;
  top: 19%;
  left:28% ;
  height: 70px;
  width: 900px;
  border:none;
  border-radius: 70px;
}
.search input[type=search]{
  padding-left:80px ;
  font-size: 1.6rem;
  color: rgb(201, 194, 194);
}
.empty-space{
  position: relative;
  top: 60px;
  padding-left:300px; ;
}
.empty-space p{
  text-align: center;
  max-width: 150ch;
  color: var(--text);
}
.social{
  display: inline-block;
  padding: 50px;
}
.social a{
  position: relative;
  padding: 7px 10px;
  left: 60%;
  text-decoration: none;
  color: var(--text);
}
.social a:nth-child(1){
  background:lightskyblue;
}
.social a:nth-child(2){
  background: rgb(61, 66, 129);
}
.social a:nth-child(3){
  background: rgb(129, 194, 32);
}
.social a:nth-child(4){
  background: rgb(194, 9, 9);
}
.social a:nth-child(5){
  background: rgb(81, 161, 236);
}
.social a:nth-child(6){
  background: rgb(179, 179, 180);
}
.social a:nth-child(7){
  background: rgb(235, 80, 80);
}
.ads{
  position: relative;
  
}
.ads img{
  height: 100px;
  padding-left: 250px;
}
.ads img:hover{
  cursor: pointer;
}
.wrapper{
  position: relative;
  top: 100px;
  display: grid;
   padding: 100px;
}
.container1{
  
  height: 100%;
  width: 100%;
  display: flex; 
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  row-gap: 20px;
 
}
.card{
  flex: 1;
  flex-basis: 190px;
  flex-grow: 0;
  height: 280px;
  background: #fff;
  box-shadow: 0px 4px 7px rgba(0,0,0,.5);
  cursor: pointer;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  overflow: hidden;
  position: relative;
}
.card img{
  width: 100%;
  height:100%;
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
}
.description{
  position: absolute;
  top:0px;
  left:0px;
  background-color: rgba(122, 118, 118, 0.7);
  width:100%;
  height:100%;
  transition: all .7s ease-in-out;
  padding: 20px;
  box-sizing: border-box;
  clip-path: circle(0% at 100% 100%);
}
.card:hover .description{
  left:0px;
  transition: all .7s ease-in-out;
  clip-path: circle(75%);
}
.card:hover{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  box-shadow: 0px 2px 3px rgba(0,0,0,.3);
  transform: scale(.97);
}
.card:hover img{
  transition: all .5s cubic-bezier(.8,.5,.2,1.4);
  transform: scale(1.6) rotate(20deg);
  filter: blur(3px);
}
.card h1{
  color: #ff3838;
  letter-spacing: 1px;
  margin: 0px;
}
h3{
  position: relative;
  bottom: 20px;
  left: 130px;
  height: 20px;
  width: 30px;
  background: rgb(250, 250, 250);
}
.description button{
  position: relative;
  top: 50px;
  border: none;
  width: 100px;
  height: 30px;
  background: red;
  color: var(--text);
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.4);
  transition: all .5s ease-in-out;
}
.card button:hover{
  transform: scale(.95) translateX(-5px);
  transition: all .5s ease-in-out;
}
.title{
  display: flex;
  color: var(--text);
  column-gap: 10px;
}
.title h1{
  padding-left: 20px;
  font-family: serif;
  font-weight: 100;
}
.title p{
  position: relative;
  top: 15px;
  padding-left: 20px;
  height: 25px;
  width: 100px;
  background: rgb(39, 24, 175);
  border-radius: 10px;
  box-shadow: 0 5px 5px black;
  color: black;
}
.title p:last-child{
  background:white ;
}
.title p:hover{
  cursor: pointer;

}


.container2{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  top: 10px;
  row-gap: 20px;
}
.contain{
  position: relative;
  top: 50px;
  
}
.container3{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  position: relative;
  top: 100px;
  row-gap: 20px;
}
.title2{
  position: relative;
  top: 110px;
  padding-left:20px ;
}
.title2 h1{
  font-family: serif;
  font-weight: 100;
  color: var(--text);
}
.footer{
  display: grid;
  grid-template-areas: 
  "box1 box2 box3";
  position: relative;
  top: 250px;
  height: 200px;
  background: var(--nav-background);
}
.footer .box1{
   grid-area: box1;
  
  padding: 50px;
  padding-left: 200px;
  color: var(--text);
}
.footer .box2{
  grid-area: box2;

  padding: 50px;
  color: white;
}
.footer .box2 p{
  max-width: 600px;
}
.box2 a{
  text-decoration: none;
  padding: 30px 15px;
  color: var(--text);
  text-align: center;
}
.footer .box3{
  grid-area: box3;
 
}
.box3 p{
  position: relative;
  top: 20%;
  left: 10%;
  max-width:50ch;
  padding: 10px;
  border: 0.10rem solid var(--text);
  color: var(--text);
}
.btn h3{
  background: turquoise;
  height: 40px;
  width: 100px;
  position: fixed;
  bottom:0;
  left: 94%;
  border-radius: 30px;
  padding: 10px;
  padding-left: 30px;
  color: var(--text);
}
.wrapper{
  padding-top: 0px;
}
.btn:hover{
  cursor: pointer;
}

